.button{
    background-color:red;
    width: 150px;
    height: 50px;
    text-align: center;
    color: white;
    border: none;
    border-radius: 20px;
}

table{
    text-align: center;
    width: 100%;
}

.content{
    max-width: 500px;
    margin: auto;
}

table,th,td{
    border: 2px solid black;
}

th{
    text-align: center;
}

th,td{
    padding: 20px;
}


